<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-hover">

  <thead>
    <tr>
      <th>Username</th>
      <th>Results</th>
      <th>Latest</th>
      <th>Top Move</th>
      <th>Gym(s)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.results.count %></td>
        <% if user.results.any? %>
        <td><%= link_to user.results.last.move.name, user.results.first %></td>
        <td><%= link_to user.topMove.name, user.topMove %></td>
        <% end %>
        <td><%= user.gymList.join ' ' %></td>
    <% end %>
  </tbody>
</table>

<br>
