<p id="notice"><%= notice %></p>

<h1 style="display:inline">
  <%= @user.username %>
</h1>
<% if current_user %>
<%= link_to 'Edit', edit_user_path(@user)%>
<% end %>

<% if @user.admin? %>
<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>
<% end %>

<% if @user.blocked? %>
<p>
  <strong>Blocked:</strong>
  <%= @user.blocked %>
</p>
<% end %>

<% if @user.results.any? %>

<h3> Results: </h3>

  <ul>
    <% @user.results.each do |r| %>
      <li>
        <%= link_to r.move.name, r %>
      </li>
    <% end %>
  </ul>

<%else%>

<p> No results yet </p>

<% end %>


<%= link_to 'Back', users_path, class:'btn btn-default' %>
