<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.select :move_id, options_from_collection_for_select(@moves, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
      <%= f.label :reps %><br>
      <%= f.number_field :reps %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
