<p id="notice"><%= notice %></p>

<h1>Listing Results</h1>

<table class="table table-hover">

  <thead>
    <tr>
      <th>Move</th>
      <th>User</th>
      <th>Weight</th>
      <th>Reps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= link_to result.move.name, result.move %></td>
        <td><%= link_to result.user.username, result.user %></td>
        <td><%= result.weight %></td>
        <td><%= result.reps %></td>
        <td><%= link_to 'Show', result, class:'btn btn-default' %></td>
    <% end %>
  </tbody>
</table>

<br>
