<p id="notice"><%= notice %></p>

<h2>Statistics</h2>


<table class="table table-hover">

  <thead>
    <tr>
      <th>Move</th>
      <th>Top weight</th>
      <th>Average weight</th>
      <th>Average repetitions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% if @moves.any? %>
  <tbody>
    <% @moves.each do |move| %>
      <tr>
        <td><%= link_to move.name, move %></td>
        <% if move.results.any? %>
        <td><%= move.topWeight %></td>
        <td><%= move.averageWeight %></td>
        <td><%= move.averageReps %></td>
        <% end %>
    <% end %>
  </tbody>
</table>
<% end %>

<h4>Most active users</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Result count</th>
      <th>Top move</th>
      <th>Gym(s)</th>
    </tr>
  </thead>

<% if @users.any? %>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <% if user.results.any? %>
        <td><%= user.results.count %></td>
        <td><%= user.topMove.name %></td>
        <% end %>
        <td><%= user.gymList.join ' ' %><td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<h4>Recent results</h4>

<% if @results.any? %>
<ul>
  <% @resultsRecent.each do |r| %>
    <li>
      <%= link_to r.move.name, r %> :
      <%= link_to r.user.username, r.user %>
    </li>
  <% end %>
<% end %>
</ul>
