<p id="notice"><%= notice %></p>

<p>
  <strong>Move:</strong>
  <%= link_to @result.move.name, @result.move %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @result.user.username, @result.user %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @result.weight %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @result.reps %>
</p>

<% if @result.user == current_user %>
<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Destroy', @result, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', :back %>
