<p id="notice"><%= notice %></p>

<h1>
  <%= @move.name %>
</h1>

<p>
  <%= @move.description + '.' %>
</p>

<% if current_user %>
<%= link_to 'Edit', edit_move_path(@move), class:'btn btn-info' %> |
<%= link_to 'Destroy', @move, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>|
<% end %>
<%= link_to 'Back', moves_path, class:'btn btn-default' %>
