<%= form_for(@trainingmove) do |f| %>
  <% if @trainingmove.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trainingmove.errors.count, "error") %> prohibited this trainingmove from being saved:</h2>

      <ul>
      <% @trainingmove.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :move_id %><br>
    <%= f.number_field :move_id %>
  </div>
  <div class="field">
    <%= f.label :training_id %><br>
    <%= f.number_field :training_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
