<p id="notice"><%= notice %></p>

<h1>Listing Trainingmoves</h1>

<table>
  <thead>
    <tr>
      <th>Move</th>
      <th>Training</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainingmoves.each do |trainingmove| %>
      <tr>
        <td><%= trainingmove.move_id %></td>
        <td><%= trainingmove.training_id %></td>
        <td><%= link_to 'Show', trainingmove %></td>
        <td><%= link_to 'Edit', edit_trainingmove_path(trainingmove) %></td>
        <td><%= link_to 'Destroy', trainingmove, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trainingmove', new_trainingmove_path %>
