<li><%= link_to 'Gyms', gyms_path %></li>
<li><%= link_to 'Moves', moves_path %></li>
<li><%= link_to 'Results', results_path %></li>
<li><%= link_to 'Users', users_path %></li>

<% if not current_user.nil? %>
<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
     <%= current_user.username %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'My page', current_user %></li>
    <li><%= link_to 'New Result', new_result_path %></li>
    <li><%= link_to 'Join a Gym', new_membership_path %></li>
    <li><%= link_to 'signout', signout_path, method: :delete %></li>
  </ul>
</li>
<% else %>
    <li><%= link_to 'signin', signin_path %></li>
    <li><%= link_to 'signup', signup_path %></li>
<% end %>
