<!DOCTYPE html>
<html>
<head>
  <title>Ratebeer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navibar">
    <%= link_to 'moves', moves_path %>
    <%= link_to 'users', users_path %>
    |
    <% if current_user %>
      <%= link_to current_user.username, current_user %>
      <%= link_to 'sign out', signout_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
      <%= link_to 'sign in', signin_path %>
      <%= link_to 'sign up', signup_path %>
    <% end %>

  <%= yield %>

</body>
</html>
