<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Gymtracker" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Gymtracker" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>

  <main role="main" class=".container">
    <%= render 'layouts/messages' %>

    <div class="row">
      <div class="col-md-8">
        <%= yield %>
      </div>
      <div class="col-md-4">
        <img src="https://www.bodybuilding.com/fun/images/2014/arnold-schwarzeneggers-8-best-training-principles-musclepharm-arnold-series-graphic-1.jpg" width="400">
      </div>
    </div>

  </main>

  <footer>

    </footer>
</body>
</html>
